.form-enter {
    opacity: 0;
    transform: scale(0.9);
  }
  .form-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 500ms, transform 500ms;
  }
  .form-exit {
    opacity: 1;
    transform: scale(1);
  }
  .form-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 500ms, transform 500ms;
  }
  