@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #050715;
    --background: #fbfbfe;
    --primary: #4551d3;
    --secondary: #e387c7;
    --accent: #da6278;
  }
  .dark {
    --text: #eaecfa;
    --background: #010104;
    --primary: #2c37ba;
    --secondary: #781c5c;
    --accent: #9d253b;
  }
  .blur-background {
    filter: blur(4px);
    transition: filter 0.3s ease;
    pointer-events: none;   
  }
  

  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: var(--text);
    background-color: var(--background);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    font-weight: 500;
    color: var(--primary);
    text-decoration: inherit;
  }
  a:hover {
    color: var(--accent);
  }

  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--background);
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--text);
    color: var(--background);
    cursor: pointer;
    transition: border-color 0.25s, background-color 0.25s, color 0.25s;
  }
  button:hover {
    border-color: var(--primary);
    background-color: var(--background);
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text: #213547;
    --background: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
    color: var(--text);
  }
}
